*{ box-sizing: border-box;

}
/* Type Selectors =====================================*/

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Lexend Deca', sans-serif;
}

header, .contact-col{
    background-color: #f0e9e9;
    padding-top: 5em;

}

header img {
    
    width: 100%;
    height: 100%;
    margin: 0;
    max-height: 100%;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    padding: 80px;

}
.name
.main-nav
.profile-image {
    padding-bottom: 15px;

}

header p {
    text-align: center;
    padding: 2em 2em;

}

.footer-bottom {
    background-color: #f1efef;
    padding: 2em 3em;
}

footer p {
    text-align: center;
}

h3{ 
    text-align: center;
}

h1 p {
    text-align: center;
}


/* Class Selectors ===================================*/

.portfolio img {
    
    width: 100%;
    height: 100%;
    margin: 0;
    max-height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.portfolio h2 {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

.col img {
    width: 100%;
    height: 100%;
    margin: 0;
    max-height: 100%;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.main-nav li {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 2%;
    text-decoration: none;
    font-size: 1.5em;
    background: white;
    padding: 0px 10px;
    width: 75%;
    text-align: center;
 
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 3em;
}   

.portfolio h2 {
    text-align: center;
}

.col p {
    text-align: center;
    width: 100%;
}

.col h2 {
    text-align: center;
}

.container {
    text-align: center; 
}

.contact col {
    border-bottom: 5px solid lightgrey;
    padding-top: 20px;
    margin: 0 auto;
    
    
}
.contact-col li {
    text-align: center;
    list-style-type: none; 
    padding: .5em;
}

.footer-bottom {

    margin-bottom: 0;
}


/* Peusdo-Classes*/

a {
    text-decoration: none;
}

a:visited {
    color:rgb(127, 11, 223);
}

/* ID Selectors */

#contact {
    padding: 2em 2em;
    width: 100%;
    margin: 0 auto;

}


#footer-navleft {
 padding-left: .5em;
 padding-bottom: 2em;
   float:left; 
  
   
}
#footer-navright {
    padding-right: .5em;
    padding-bottom: 2em;
    float:right;
    
}

/* Media Queries ====================================*/

@media (min-width: 320px) {
    .pad-desktop {
        display:none;
    }

}

@media(min-width: 768px) {
    
    .profile-image {
        float: right;
        padding-left: 25px;

    }

    .main-nav li {

        display: inline-block;
        margin-left: 15px;

    }

    .portfolio {
        height:500px;
        text-align:center;
        float:left;
        width:50%;
        padding-left:25px;
        margin-right:-15px;

    }
    
    .col{
        height:500px;
        text-align:center;
        float:left;
        width:50%;
        padding-left:25px;
        margin-right:-15px;
    }

}

@media(min-width: 1024px) {

    .name{
        float:left;
        padding-top:5px;
    }

    .main-nav{
        float:right;
        padding-left:5px;
    }


    .col{
        height:500px;
        text-align:center;
        float:left;
        width:33%;
        padding-left:15px;
        margin-right:-2px;
    }
    .pad-desktop {

        float: right;  
    }

    .profile-image {
        float:right;
    }
}






clearfix::after{
    content:"";
    display:table;
    clear:both;
}